<div class="dash-cards">
  <div class="card-single">
    <div class="card-body">
      <span class="ti ti-clipboard"></span>
      <div>
        <h5>Registros</h5>
        <h4></h4>
      </div>
    </div>
  </div>

  <div class="card-single">
    <div class="card-body">
      <span class="ti ti-check-box"></span>
      <div>
        <h5>Existentes</h5>
        <h4>15</h4>
      </div>
    </div>
  </div>

  <div class="card-single">
    <div class="card-body">
      <span class="ti ti-na"></span>
      <div>
        <h5>No existentes</h5>
        <h4>5</h4>
      </div>

    </div>
  </div>

  <div class="card-single">
    <div class="card-body">
      <span class="ti ti-na"></span>
      <div>
        <h5>No existentes</h5>
        <h4>5</h4>
      </div>

    </div>
  </div>
</div>
