<section class="recent">
  <div class="activity-grid">
    <!--    tabla de los datos obtenidos desde la base de datos      -->
    <div class="activity-card">
      <h3>Tabla de medicamentos</h3>

      <table>

        <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Descripcion</th>
          <th>Precio</th>
          <th>Imagen</th>
          <th>Acciones</th>
        </tr>
        </thead>

        <tbody>
        <tr>
          <td>1</td>
          <td>Acetaminofen</td>
          <td>Medicamento para el dolor de cabeza</td>
          <td>$0.50</td>
          <td>
            <div class="celda-imagen">
                <pre>imagen.pngwmwmcmwecmwmcmwcmwcmpwcmwkl;mwmclkmwclmwlcmmcmwclmwcmwmcmw</pre>
            </div>
          </td>
          <td>Editar/Eliminar</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Acetaminofen</td>
          <td>Medicamento para el dolor de cabeza</td>
          <td>$0.50</td>
          <td>
            <div class="celda-imagen">
              <pre>imagen.pngwmwmcmwecmwmcmwcmwcmpwcmwerwerwerwerwerwerw</pre>
            </div>
          </td>
          <td>Editar/Eliminar</td>
        </tr>
        <tr>
          <td>1</td>
          <td>Acetaminofen</td>
          <td>Medicamento para el dolor de cabeza</td>
          <td>$0.50</td>
          <td>
            <div class="celda-imagen">
              <pre>imagen.pngwmwmcmwecmwmcmwcmwcmpwcmwkl;mwmclkmwclmwlcmmcmwclmwcmwmcmw</pre>
            </div>
          </td>
          <td>Editar/Eliminar</td>
        </tr>
        </tbody>
      </table>
    </div>
    <!--     fin de la table     -->
  </div>
</section>
