<section class="recent">
  <div class="activity-grid">
    <!--    tabla de los datos obtenidos desde la base de datos      -->
    <div class="activity-card">
      <h3>Tabla de medicamentos</h3>
      <div class="table-responsive">
        <table>

          <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Imagen</th>
            <th>Acciones</th>
          </tr>
          </thead>

          <tbody>
          <tr *ngFor="let lista_table of lista_items">
            <td>{{lista_table.id}}</td>
            <td>{{lista_table.nombre}}</td>
            <td>{{lista_table.descripcion}}</td>
            <td>${{lista_table.precio}}</td>
            <td>
              <div class="celda-imagen">
                <pre>{{lista_table.imagen}}</pre>
              </div>
            </td>
            <td>
              <div>
                <button class="button-editar-item" (click)="editItem(lista_table.id)" >Editar</button>
                <button class="button-eliminar-item">Eliminar</button>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!--     fin de la table     -->
  </div>
</section>
